# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# List Binary files to prevent EOL
# --------------------------------
# Images
*.png binary
*.jpg binary

# 3D Files
*.glb binary
*.gltf binary
*.fbx binary
*.blender binary
